<a href="https://colab.research.google.com/github/ronnie9723/ai-lab-project-credit-card-fraud-detection/blob/main/AI_lab_project_Credit_card_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mount Drive and Read Dataset**

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import pandas as pd

In [5]:
train = pd.read_csv('gdrive/My Drive/Artificial intelligence projects/Mall_Customers.csv')

#**Show** dataset

In [7]:
train.head(50)

    CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0            1    Male   19                  15                      39
1            2    Male   21                  15                      81
2            3  Female   20                  16                       6
3            4  Female   23                  16                      77
4            5  Female   31                  17                      40
5            6  Female   22                  17                      76
6            7  Female   35                  18                       6
7            8  Female   23                  18                      94
8            9    Male   64                  19                       3
9           10  Female   30                  19                      72
10          11    Male   67                  19                      14
11          12  Female   35                  19                      99
12          13  Female   58                  20                      15
13          14  Female   24                  20                      77
14          15    Male   37                  20                      13
15          16    Male   22                  20                      79
16          17  Female   35                  21                      35
17          18    Male   20                  21                      66
18          19    Male   52                  23                      29
19          20  Female   35                  23                      98
20          21    Male   35                  24                      35
21          22    Male   25                  24                      73
22          23  Female   46                  25                       5
23          24    Male   31                  25                      73
24          25  Female   54                  28                      14
25          26    Male   29                  28                      82
26          27  Female   45                  28                      32
27          28    Male   35                  28                      61
28          29  Female   40                  29                      31
29          30  Female   23                  29                      87
30          31    Male   60                  30                       4
31          32  Female   21                  30                      73
32          33    Male   53                  33                       4
33          34    Male   18                  33                      92
34          35  Female   49                  33                      14
35          36  Female   21                  33                      81
36          37  Female   42                  34                      17
37          38  Female   30                  34                      73
38          39  Female   36                  37                      26
39          40  Female   20                  37                      75
40          41  Female   65                  38                      35
41          42    Male   24                  38                      92
42          43    Male   48                  39                      36
43          44  Female   31                  39                      61
44          45  Female   49                  39                      28
45          46  Female   24                  39                      65
46          47  Female   50                  40                      55
47          48  Female   27                  40                      47
48          49  Female   29                  40                      42
49          50  Female   31                  40                      42

In [8]:
train.shape

(200, 5)

# **Show info with missing value (if)**

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB